@import '../../scss//variables.scss';

.NoData {
  padding: 70px 0;
  background-color: $mainWhite;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
