@import "../../scss//variables.scss";

.CocktailDetails {
  &__Ingredient {
    cursor: pointer;
    color: $darkGrey;
    text-decoration: underline;
    font-weight: 700;
    &:hover {
      color: $mainOrange;
    }
  }
  &__Info {
    font-size: 1.3rem;
    line-height: 1.85;
    color: $darkGrey;

    span {
      opacity: 0.8;
      color: $mainBlack;
      font-weight: 800;
    }
  }
}
